<div class="nav-bar-container">
  <mat-toolbar color="primary" class="navbar">
    <a class="logoCfm" routerLinkActive="active" routerLink="" > {{cfm}} </a>
    <div fxShow="true" fxHide.lt-md="true">
      <a routerLinkActive="active" routerLink="contacts" mat-button> {{contactsLink}} </a>
      <a routerLinkActive="active" [routerLink]="['contacts', '']" mat-button> {{addUpdateLink}} </a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()"> <mat-icon>menu</mat-icon></a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a routerLinkActive="active" routerLink="['/contacts']" mat-button>Liste de contacts</a>
        <a routerLinkActive="active" [routerLink]="['contacts', '']"  mat-button>Ajouter un contact</a>
      </div>
    </mat-sidenav> 
  </mat-sidenav-container>
</div>


